@model LetsEat.Models.Recipe

@{
    ViewData["Title"] = "Edit";
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete @Model.Name?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
                <button type="button" id="delete" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>

<h1>Edit</h1>
<hr />
<form asp-action="Edit" class="col-sm-9">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Name" class="form-control" id="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="Description" class="form-control" id="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PrepMinutes" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="PrepMinutes" class="form-control" id="PrepMinutes" />
            <span asp-validation-for="PrepMinutes" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CookMinutes" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="CookMinutes" class="form-control" id="CookMinutes" />
            <span asp-validation-for="CookMinutes" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row" id="ingredients">
        <label id="ing-id" asp-for="Ingredients" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-7">
            @foreach (string ingredient in Model.Ingredients)
            {
                <div class="form-group ingredient-group">
                    <input type="text" class="form-control ingredient" placeholder="1 cup of milk" asp-for="@ingredient">
                </div>
            }
        </div>
    </div>
    <div id="addIngredient" class="btn btn-light btn-block col-sm-9">Add Another Ingredient</div>


    <div class="form-group row" id="steps">
        <label class="col-sm-2 col-form-label" id="step-id">Steps</label>
        <div class="col-sm-7">
            @for (int i = 0; i < @Model.Steps.Count; i++)
            {
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text step-counter">@(i + 1)</div>
                    </div>
                    <input type="text" class="form-control step" id="inlineFormInputGroup" placeholder="Preheat the oven to 350 degrees" asp-for="@Model.Steps[i]">
                </div>
            }
        </div>
    </div>
    <div id="addStep" class="btn btn-light btn-block col-sm-9">Add Another Step</div>


    <label class="control-label">Images</label>
    <div class="image-container">
        @foreach (string il in Model.ImageLocations)
        {
            <div class="image">
                <img src="@il" class="image" />
            </div>
        }
    </div>

    <input type="hidden" asp-for="ID" id="recipe-id" />
</form>

<button class="btn btn-primary mt-4">Save</button>
<a class="btn btn-light mt-4" asp-action="Index">Cancel</a>
<button class="btn btn-danger mt-4" data-toggle="modal" data-target="#exampleModal">Delete</button>

<script src="~/js/RecipeBook/Edit.js"></script>
<link href="~/css/Edit.css" rel="stylesheet" />
<link href="~/svg/open-iconic-bootstrap.min.css" rel="stylesheet" />
