@model IEnumerable<LetsEat.Models.Recipe>

@{
    ViewData["Title"] = "Family";
}

<h1>Family Recipes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Source)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrepTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTimeMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrepTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTimeMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalTime)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
