@model IEnumerable<LetsEat.Models.Recipe>

@{
    ViewData["Title"] = "My Recipes";
}

<h1>My Recipes</h1>

<hr />

<div class="card-columns">
    @foreach (Recipe r in Model)
    {
        <div class="card">
            <a asp-action="Recipe" asp-route-id="@r.ID">
                <img class="card-img-top" src="@(r.ImageLocations.Count > 0 ? r.ImageLocations[0] : "")" alt="@r.Name">
            </a>
            <div class="card-body">
                <h5 class="card-title"><a asp-action="Recipe" asp-route-id="@r.ID" class="card-link">@r.Name</a></h5>
                <p class="card-text">@r.Description</p>
            </div>
        </div>
    }
</div>
