@model User
@{

    ViewData["Title"] = "Index";
}


<h2>My Account</h2>

<p>Welcome @Model.DisplayName</p>

@if (Model.InviteRequest)
{
    <div class="invite-request">
        @Model.Invite.InvitedBy.DisplayName has invited you to join the @Model.Invite.FamilyName family!
        <form class="change-family" asp-action="ChangeFamily">
            <input type="hidden" asp-for="@Model.Email" />
            <input type="submit" class="btn btn-primary" value="Accept" />
        </form>
        <form class="delete-request" asp-action="DeleteInvite">
            <input type="hidden" asp-for="@Model.Email" />
            <input type="submit" class="btn btn-danger" value="delete" />
        </form>
    </div>
}

<a asp-controller="account" asp-action="changepassword" method="get">Change Password</a>