@model IEnumerable<LetsEat.Models.WebsiteRequest>

@{
    ViewData["Title"] = "Website Requests";
}

<h1>Website Requests</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Website
            </th>
            <th>
                Full URL
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.DisplayName)
            </td>
        </tr>
}
    </tbody>
</table>
